/*sakino's workspace*/
h3, h4{
  margin: 5px 0px;
}

p{
  font-size: 14px;
}

.topvisual{
  margin-top: 80px;
}

.topvisual_ship{
  text-align: center;
}

.topvisual_container{
  display: flex;
  align-items: center;
  margin: 0% 10%;
  gap: 20px;
  margin-bottom: 5%;
  justify-content: center;
}

.topvisual_img{
  width: 175px;
  height: 175px;
}

.topvisual_img img{
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 5%;
}

.topvisual_content{
  text-align: left;
}

.topvisual_speech{
  margin-top: 10px;
  margin-bottom: 0px;
  max-width: 700px;
  height: 130px;
  font-size: 14px;
  overflow: scroll;
}

.likes{
  display: flex;
  gap: 10px;
  align-items: center;
}

.likes_counter{
  display: flex;
  padding: 3px 5px;
  border: solid 1px gray;
  border-radius: 5px;
}

.likes_counter p{
  margin: 0px 5px;
}

.likes_button{
  width: 30px;
  height: 30px;
  background-color: rgb(255, 55, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.likes_button:hover{
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.heart_btn{
  width: 15px;
  height: 15px;
  filter: brightness(0) invert(1);
}

.links_list{
  list-style: none;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.links_item a{
  text-decoration: none;
}

.menu-content ul li a{
  display: none;
}

#menu-btn-check{
  display: none;
}

  /*フォームページ*/
.titi{
   width: 90%;
   margin: 0 auto;
   max-width: 500px;
   margin-top: 50px;
  }
.nana{
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
  margin-top: 20px;
  }
.nainai{
  width: 90%;
   margin: 0 auto;
   max-width: 500px;
   margin-top: 20px;
}  
.nyuuryoku{
    
  color: rgba(255, 165, 52, 1);

}


/*miu's workspace*/
.imgbirth{
 
    width: 280px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    
  }

.nyuuryoku{
  color: rgba(255, 165, 52, 1);

}
.speechimg{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.speech{
  position: relative;
}
h3{
  text-align: center;
  font-size: x-large;
  margin-top: 40px;
}
.cp_container{
  max-width: 700px;
  
}
.huspeech:not(:root){
  margin: 0 auto;
  
  
  
}
h1{
  margin-top: 50px;
  text-align: center;
  color: rgba(255, 165, 52, 1);
  margin-bottom: 50px;
}
.wrap{
  margin-top: 150px;
}

.birthcon{
  display: flex;
  margin-top: 100px;
}
main{
  margin-top: 58px;
}
.main_birthday{
padding-left: 10%;
padding-right: 10%;
}
h2{
  text-align: center;
}
.harhar{
  color: white;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 35px;
}
.hunhun{
  color: rgba(255, 165, 52, 1);
  margin-top: 40px;
  font-size: 35px;
}
.birbir{
  margin-top: 40px;
  margin-bottom: 40px;
  color: rgba(255, 165, 52, 1);
  font-size: 35px;
  padding-top: 40px;
}
.birthimg{
  border-radius: 50%;
  height: 200px;
  width: 100%;

}
.birthday{
  background: url(../img/bir.PNG) no-repeat center center;
    background-size: cover;
    padding-bottom: 50px;
    
    
    


  }

/*チェックボックス*/
input{
  display:none;  
}
.block{
  width:200px;
  position:relative;
  clear:both;
  margin:0 0 25px;
  float: left;
}
span{
  text-transform:uppercase;
  font-family:'Roboto Condensed', sans-serif;
  font-weight:bold;
  letter-spacing:1px;
  font-size:15px;
  float:right;
  width:85px;
  margin:16px 0 0;
}
.wrap{
  width:200px;
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  padding:30px 30px 5px;
}
.la{
  width:100px;
  height:50px;
  box-sizing:border-box;
  border:3px solid;
  float:left;
  border-radius:100px;
  position:relative;
  cursor:pointer;
  transition:.3s ease
}
.clicked{
  background: rgba(255, 165, 52, 1);
}
input[type=checkbox]:checked + .clicked:before{
  left:50px;
}

.la:before{
  transition:.3s ease;
  content:'';
  width:40px;
  height:40px;
  position:absolute;
  background:white;
  left:2px;
  top:2px;
  box-sizing:border-box;
  border:3px solid;
  color:black;
  border-radius:100px;
}
/*リンクボタン*/
.button05 a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  max-width: 300px;
  color: gray;
  font-size: 18px;
  font-weight: 700;
  background-color: white;
  box-shadow: 0 5px 0 rgba(255, 165, 52, 1);
  transition: 0.3s;
  margin-top: 30px;
  text-decoration: none;
}

.button05 a::after {
  content: '';
  width: 11px;
  height: 11px;
  border-top: 3px solid gray;
  border-right: 3px solid gray;
  transform: rotate(45deg);
}

.button05 a:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}

/*ボタン*/

.cp_box *, .cp_box *:before, .cp_box *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cp_box {
  position: relative;
}
.cp_box label {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 100px; /* グラデーションの高さ */
  cursor: pointer;
  text-align: center;
  background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
}
/* 開いた時にグラデーションを消す */
.cp_box input:checked + label {
  background: inherit; 
}
.cp_box label:after {
  line-height: 2.5rem;
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 50%;
  width: 16rem;
  font-family: FontAwesome;
  content: '⬇︎'' 続きをよむ';
  transform: translate(-50%, 0);
  letter-spacing: 0.05em;
  color: #ffffff;
  border-radius: 20px;
  background-color: rgba(27, 37, 56, 1);
}
.cp_box input {
  display: none;
}
/* 開く前に見えている部分の高さ */
.cp_box .cp_container {
  overflow: hidden;
  height: 250px; 
  transition: all 0.5s;
}
/* display: none ; 閉じるボタンを消す場合解放 */
.cp_box input:checked + label {
  
}
.cp_box input:checked + label:after {
  font-family: FontAwesome;
  content: '⬆︎'' 閉じる';
}
/* 閉じるボタンのbottomからの位置 */
.cp_box input:checked ~ .cp_container {
  height: auto;
  padding-bottom: 80px; 
  transition: all 0.5s;
}
.todays_harbors{
  background: url(../img/harbors:a.jpeg) no-repeat center center;
    background-size: cover;
    padding-bottom: 50px;
}


/*fumiya's workspace*/


 /* fumiya no common */
 
.speech_pic{
  width: 12%;
  align-items: center;
}
.speech_pic::before{
  content: '';
  display: block;
  padding-bottom: 12%;
  
}
.speech_pic>img{
  width: 100%;
}

 
 .main-inner.d-grid.gap-3{
  width: 100%;
}

.todays_harbors.p-2.bg-light.border{
  justify-content: center;
 }

img{
  width: 100%;
}
.main_birthday>section>h2{
  text-align: center;
  color: rgba(255, 165, 52, 1);
  background-image: url(../img/watermark.jpg);
  height: 100px;
  padding-top: 50px;
  font-size: 40px;
}


/* a */

.main_birthday{
  margin-left: 15%;
  margin-right: 15%;
  background: url(../img/1700_free.jpg) repeat;
}
.main_birthday>section{
  width: 100%;
  margin-top: 200px;
}

#calinc-mem166555-height1000{
  width: 100% !important;
}
.calendar{
  width: 100%;
}
.main_top_calendar{
  justify-content: center;
  height: 900px;
}
.calendar_box{
  margin-left: 5%;
  margin-right: 5%;
  /* background: url(/img/watermark.jpg); */
}

.set{
  display: block;
  border: 1px solid;
}
.profile{
  text-align: center;
}

.pro_img{
  width: 200px;
  margin: 0 auto;
}
.icon_box{
  margin-top: 100px;
}
.boxes{
  display: flex;
  width: 100%;
  
}
.boxes>li{
  margin-left: 2%;
  width: 12%;
  align-items: center;
}
.boxes>li::before{
  content: '';
  display: block;
  padding-top: 12%;
}
.boxes>li>img{
  
  
  border-radius: 45%;
  border: solid 5px coral !important;
}

.boxes>li>a>img{
  width: 100%;
  
  border-radius: 45%;
  border: solid 5px coral !important;
}
.boxes>li>p{
  margin-bottom: 0;
  margin-top: 0;
}
.birthcon>ul{
  margin-left: 5%;
}
.birthcon>ul>li>img{
  width: 100%;
  border-radius: 45%;
  border: solid 5px coral;
}
.birthcon>ul>li{
  width: 12%;
}
.birthcon>ul>li::before{
  content: '';
  display: block;
  padding-top: 12%;
}
.birthcon>ul>li>p{
  color: darksalmon;
  font-size: 30px;
}



.birthcon>ul{
  display: flex;
  gap: 20px;
}



.indivisual{
  margin: 0 10%;
}
.indivisual>div{
  margin-top: 200px;
  padding-top: 100px;
}
.indivisual>div>p{
  font-size: 24px;
  height: 200px;
  overflow: scroll;
}
#main_bottom{
  width: 100px;
  height: 100px;
  z-index: 500;
  right: 10px;
  bottom: 10px;
  position: fixed;
  
}
.bottomBtn{
  display: flex;
  height: 100%;
  border-radius: 45%;
  background-color: blanchedalmond;
  text-align: center;
  align-items: center;
}

@media (max-width:720px) {
  /* saki */
  .topvisual_container{
    margin-bottom: 70px;
  }

  .topvisual_title h1{
    font-size: 28px;
  }

  .main_top_calendar{
    
    height: 600px;
  }

  
    /*ハンバーガーメニュー*/
    .header_nav{
      display: none;
    }
    
    
    .menu-btn{
      position: fixed;
      top: 0px;
      right: 8px;
      display: flex;
      height: 53px;
      width: 47px;
      justify-content: center;
      align-items: center;
      z-index: 90;
    }
    .menu-btn span:before,
    .menu-btn span:after {
      content: '';
      display: block;
      height: 1px;
      width: 25px;
      background-color: black;
      position: absolute;
    }
    .menu-btn span:before {
      bottom: 20px;
    }
    .menu-btn span:after {
      top: 20px;
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
      bottom: 50%;
      transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
      top: 48%;
      transform: rotate(-45deg);
    }
    
    /*ハンバーガーメニューのコンテントの実装*/
    .menu-content{
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 100%;
      background-color: white;
      z-index: 80;
      transition: all 0.5s;
      text-align: center;
      padding-top: 170px;
    }
    #menu-btn-check {
      display: none;
    }
    #menu-btn-check:checked ~ .menu-content {
      left: 0;/*メニューを画面内へ*/
    }
    .p-header_logo{
      z-index: 100;
    }
    .menu-content ul li a{
      font-family: "Noto Sans JP";
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0.05em;
    }
    #menu-btn-check:checked ~ .menu-content ul li a{
      display: block;
    }

  
  /* mi */
  
  /* f */
  /* トップ */
  .speechimg{
    gap: 10px;
  }
  
  .birthcon>ul>li{
    width: 8%;
  }
  .birthcon>ul>li::before{
    content: '';
    display: block;
    padding-top: 8%;
  }
  
  .button05{
    /* width: 70%; */
    margin-bottom: 10px
  }

  .topvisual_ship :nth-child(even){
    flex-direction: column-reverse;
  }
  
  .topvisual_container:nth-child(odd){
    flex-direction: column;
  }
  
  
  /* バースデー */
  .icon_box{
    margin-top: 100px;
  }
  
  
  .indivisual>div{
    margin-top: 100px;
  }
  .indivisual>div>p{
    height: 130px;
    font-size: 14px;
    overflow: scroll;
  }
  
  html{
    width: 100%;
    background-image: url(../img/1700_free.jpg) repeat;

  }
  .main_birthday{
    margin-left: 0;
    margin-right: 0;
  }
 
  section{
    margin-bottom: 0;
  }
}



@media (max-width:480px)
{
  /* saki */

  .topvisual_title h1{
    font-size: 20px;
  }
  
  .topvisual_name{
    font-size: 14px;
  }
  
  
  
  /* mi */
  
  /* f */
  
  .indivisual>div{
    margin-top: 50px;
  }
  main{
    padding-left: 3%;
    padding-right: 3%;
  }
  .icon_box{
    margin-top: 60px;
  }
  .main_top_calendar{
    
    height: 600px;
  }
  
 } 



